.edituser{
    margin:32px auto 0;
    max-width:600px;
}
.edituser input{
    padding:4px;
}
.edituser td{
    padding:16px;
}
.edituser input.username{
    width:120px;
}
.edituser input.nickname{
    width:120px;
}
.edituser tr.password{
    display:none;
}
.edituser input.password{
    width:120px;
}
.edituser tr.confirmpassword{
    display:none;
}
.edituser input.confirmpassword{
    width:120px;
}
